<dvi id="local-search-bg">
  <div id="local-search-result">
    <div class="s-header">
      搜索结果
    </div>
    <div class="s-body"></div>
    <div class="s-footer">
      学习、分享
    </div>
  </div>
</div>
